fastapi
uvicorn[standard]
python-jose[cryptography]
passlib
argon2-cffi
python-multipart # For form data, which is needed for the token endpoint
weasyprint
markdown
markupsafe
pytest
httpx
pytest-asyncio
flake8
