interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://yeswehack.com/programs
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"><head>\n        <meta charset=\"utf-8\">\n
        \       <title>Bug Bounty Programs - YesWeHack</title>\n        <base href=\"/\">\n
        \       <script type=\"text/javascript\" src=\"assets/scripts/redirect.js\"></script>\n
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \       <meta name=\"description\" content=\"YesWeHack bug bounty program
        list\">\n        <meta property=\"og:type\" content=\"website\">\n        <meta
        property=\"og:title\" content=\"Bug Bounty Programs - YesWeHack\">\n        <meta
        property=\"og:url\" content=\"https://yeswehack.com/programs\">\n    [...]
